<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
    <script src='https://code.jquery.com/jquery-3.1.1.js' integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=' crossorigin='anonymous'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/js/main.js'></script>
    <style>
            .error {
                color: red;
            }
    </style>
</head>
<body>
	<div id="wrapper">
        <div class="main-content">
        	<form action='/results' method="post">
        		<label>Your Name:</label>
        		<input type='text' name='name'><br>
        		<label>DoJo Location:</label>
                <select name="location">
                    <option value="none">Select Location</option>
                    <option value="Mountain View">Mountain View</option>
                    <option value="Milwaukee">Milwaukee</option>
                </select><br>
                <label>Favorite Language:</label>
                <select name="language">
                    <option value="none">Select Language</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                </select><br>
                <label>Comment (optional):</label><br>
                <textarea rows='4' cols='50' name='comment'></textarea><br><br>
        		<input id='submitbut' type='submit' name='submit'>
        	</form>
        </div>
	</div>
</body>
</html>